@model CuaHangDAL.TaiKhoan
@{ ViewBag.Title = "dang ky";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    .main-grid form .form-control {
        width: 400px;
    }
</style>
@section header {
    thêm mới
}
<script src="~/Content/js/jquery.validate.min.js"></script>

@using (Html.BeginForm("DangKy", "TaiKhoan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4> xinh chao @ViewBag.TenNV</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.TenTK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @id = "MatKhau" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loaitk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Loaitk" value="nhan vien" readonly />
                @Html.ValidationMessageFor(model => model.Loaitk, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="id" value=@ViewBag.MaNV />

        @Html.Hidden("Status", "trong")


        @Html.Hidden("Ngaycapnhap", DateTime.Now)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" id="nutdangki" />
            </div>
        </div>
    </div>
}
<script>
        $().ready(function () {
            $(".main-grid form").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "TenTK": {
                        required: true,

                    },
                    "MatKhau": {
                        required: true,

                    }
                },
                messages: {
                    "TenTK": {
                        required :"bạn hãy nhập tên tài khoản"
                    },
                    "MatKhau": {
                        required: "ban hãy nhập mật khẩu"
                    }
                }
            });
    });
    </script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
