@using CuaHangDAL;

@{ 
    List<itemGioHang> lstgh = Session["giohang"] as List<itemGioHang>;
}
<li class="dropdown head-dpdn" id="divGioHang" >
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="badge">@ViewBag.TongSoLuong</span></a>
    <ul class="dropdown-menu anti-dropdown-menu w3l-msg">
        <li>
            <div class="notification_header">
                <h3> bạn có @ViewBag.TongSoLuong sản phẩm</h3>
                <p>với giá @ViewBag.TongTien.ToString("#,##") </p>
            </div>
        </li>
        @if (lstgh == null)
        {
            <p> khong có sản phẩm</p>
        }
        else
        {

                <li class="odd">

                    <table>
                        <tr>
                            <th style="width:50%"> tên </th>
                            <th style="width:50%"> số lượng</th>
                        </tr>
                        @foreach (var x in lstgh)
                        {
                        <tr>
                            <td>@x.TenSP</td>
                            <td>@x.SoLuong</td>

                        </tr>
                        }
                    </table>

                </li>


        }
        <li>
            <div class="notification_bottom">
                <a href="@Url.Action("XemGioHang","MuaHang")">See all messages</a>
            </div>
        </li>
    </ul>
</li>
