@using test.net.Models;
@using CuaHangDAL;
@model List<CuaHangDAL.itemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<link href="~/Content/css/table-style.css" rel="stylesheet" />
@section header {
    gio hang
}
@{
    List<KhachHang> lst = (ViewBag.khachhang) as List<KhachHang>;
}

<select name="MaKH" id="dropDownId" form-control1">
    @foreach (var x in lst)
    {
        <option value="@x.MaKh">@x.TenKH</option>
    }

</select>



<div class="w3l-table-info">
    <h3> giỏ hảng của khách</h3>
    <table id="table">
        <thead>
            <tr>
                <th>mã sp</th>
                <th>Tên Sp</th>
                <th>số lượng</th>
                <th>đơn giá</th>
                <th>thành tiền</th>
                <th> xóa</th>
                <th>cập nhập </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.MaSP</td>
                    <td>@x.TenSP</td>
                    <td><input type="text" data-id="@x.MaSP" class="txtQuantity" value="@x.SoLuong" /></td>
                    <td>@x.DonGia</td>
                    <td>@x.ThanhTien</td>
                    @*<td>@Html.ActionLink(" cap nhap", "CapNhatGioHang", new { @maSP = x.MaSP }, new { @class = "hvr-icon-sink-away btn btn-xs btn-primary btn-block" })</td>*@

                    <td>@Html.ActionLink("xóa", "XoaGioHang", new { @maSP = x.MaSP }, new { @class = "hvr-icon-sink-away btn btn-xs btn-primary btn-block" })</td>
                </tr>

            }




        </tbody>
    </table>
    <a href="" class="hvr-icon-fade btn btn-primary" id="btndathang">đặt hàng</a>
    <input type="button" class="hvr-icon-sink-away btn btn-xs btn-primary" value="cap nhap" id="btnUpdate" />

</div>
<script>
    $(document).ready(function () {
        $("#dropDownId").change(function (event) {

            var x = $(this).val();
            $("#btndathang").attr("href", "/MuaHang/DatHang/" + x);

        });
        $('#btnUpdate').off('click').on('click', function () {
            var listProduct = $('.txtQuantity');
            var cartList = [];
            $.each(listProduct, function (i, item) {
                cartList.push({
                    SoLuong: $(item).val(),
                    MaSP: $(item).data('id')
                });
            });

            $.ajax({
                url: '/MuaHang/Update',
                data: { cartModel: JSON.stringify(cartList) },
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/MuaHang/XemGioHang";
                    }
                }
            })
        });

    })
</script>
