@model IEnumerable<CuaHangDAL.Cthd>
@{ ViewBag.Title = "hoa don";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@section header {
   chi tiết
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />
<table class="table">
    <tr>

        <th>
            mã chi tiết
        </th>
        <th>
            mã hóa đơn
        </th>
        <th>
            mã sản phẩm
        </th>
        <th>
            tên sản phẩm
        </th>
        <th>
            số lượng
        </th>
        <th>
            giá bán
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaCTHd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
      
        </tr>
    }

</table>
