@model IEnumerable<CuaHangDAL.Hd>
@{ ViewBag.Title = "hoa don";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@section header {
    hóa đơn
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />

<table class="table">
    <tr>


        <th>
            mã hóa đơn
        </th>
        <th>
          ngày đặt
        </th>
        <th>
          tên khách hàng
        </th>
        <th>
           tên nhân viên 
        </th>
        <th>
           trạng thái
        </th>
        <th> chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { @id = item.MaHD }) |
                @Html.ActionLink("Delete", "Delete", new { @id = item.MaHD })
            </td>
        </tr>
    }

</table>
