@model IEnumerable<CuaHangDAL.Ctpn>
@{ ViewBag.Title = "nhap hang";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@section header {
    trang chi tiết
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />

<table class="table">
    <tr>

        <th>
            mã ctpn
        </th>
        <th>
            mã phiếu nhập
        </th>
        <th>
            mã sản phẩm
        </th>
        <th>
            tên sản phẩm
        </th>
        <th>
            số lượng
        </th>
        <th>
            đơn giá nhập
        </th>
     
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaCTPn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaNhap)
            </td>
            <td></td>
        </tr>
    }

</table>
