@model IEnumerable<CuaHangDAL.Pn>
@{ ViewBag.Title = "nhap hang";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@section header {
    trang phiếu nhập
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            mã phiếu nhập
        </th>
        <th>
            ngày nhập
        </th>
        <th>
            nhà cung cấp
        </th>
        <th>
            nhân viên nhập
        </th>
        <th>
            trang thái
        </th>
        <th>chúc năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaPN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { @id = item.MaPN }) |
                @Html.ActionLink("Delete", "Delete", new { @id = item.MaPN })
            </td>
        </tr>
    }

</table>
