@using CuaHangDAL;
@using PagedList.Mvc;
@model  PagedList.IPagedList<CuaHangDAL.KhachHang>
@{ ViewBag.Title = "khach hang";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

@section header {
    Trang  khách hàng
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />


<table class="table">
    <tr>

        <th>
            mã khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            >sdt
        </th>
        <th>
            Email
        </th>
        <th>
            <label>cmd</label>
        </th>
        <th>
            diểm số
        </th>
        <th>
            loại thành viên
        </th>

        <th>
            ngày cập nhập
        </th>
        <th>
            mã nhân viên chình sửa
        </th>
        <th>
            trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diemso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThanhVien.TenLoai)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id = item.MaKh }) |
                @Html.ActionLink("Delete", "Delete", new { @id = item.MaKh })
            </td>
        </tr>
    }

</table>
<div class="dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { @page = page }))
</div>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })

