@model IEnumerable<CuaHangDAL.NhanVien>
@{ ViewBag.Title = "nhan vien";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />

@section header {
nhân viên
}
<table class="table">
    <tr>

        <th>
            mã nhân viên
        </th>
        <th>
            tên nhân viên
        </th>
        <th>
            địa chỉ
        </th>
        <th>
            só diện thoại
        </th>
        <th>
            email
        </th>
        <th>
            CMD
        </th>
        <th>
            tham số lợi nhuận
        </th>
        <th>
            nhân viên chỉnh sửa
        </th>
        <th>
            ngày cập nhập
        </th>
        <th>
            tên tài khoản
        </th>
        <th>
            trạng thái
        </th>
        <th> chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thamsoloinhuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentNhanVien.TenNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.TenTK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id = item.MaNV }) |
                @Html.ActionLink("Delete", "Delete", new { @id = item.MaNV })
            </td>
        </tr>
    }

</table>
