
@model IEnumerable<CuaHangDAL.SanPham>

@{ ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@*css table*@
<link href="~/Content/css/table-style.css" rel="stylesheet" />
@section header {
   sản phẩm
}

@using (Html.BeginForm("Seacrh", "SanPham", FormMethod.Post))
{
    @Html.DropDownList("danhmuc", null, new { @class = "" })

    @Html.TextBox("TenSp", null, new { @class = "txtten", @placeholder = " nhap ten sp tim kiem" })
    @Html.TextBox("GiaNhap", null, new { @class = "txtgia", placeholder = " nhap gia sp tim kiem" })
    <input type="submit" class="btn active hvr-icon-fade" id="submit" />
}

<table class="table" id="hangtonkho">
    <tr>

        <th>
            mã sản phẩm
        </th>
        <th>
            tên sản phẩm
        </th>
        <th>
            giá nhập
        </th>
        <th>
            số lượng tồn
        </th>
        <th>
            danh mục
        </th>
        <th>
            ngày cập nhập
        </th>
        <th>
            Mã nhân viên chỉnh sữa
        </th>
        <th>
            trạng thái
        </th>
        <th>
            hình ảnh
        </th>
        <th>
            đơn giá bán
        </th>
        <th> chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Masp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanHMuc.TenDM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNVchinhsua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id = item.Masp }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { @id = item.Masp })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
@Ajax.ActionLink("kiem tra hang", "kthang", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "hangtonkho" })
<script>
    $('#submit').click(function () {

        if (ktso() == false) {
            return false;
        }
    });
    function ktso() {
        var x = true;
        $('.txtgia').each(function () {
            var giatri = $(this).val();
            if (isNaN(giatri) == true) {
                x = false;
                return x;
            }

        })
        return x;

    }
</script>
